<div class="header">
    <div class="mindtree-theme-bar-container">
      <img
        class="mindtree-theme-bar"
        src="./../../../assets/mindtree-theme-bar.PNG"
      />
    </div>
    <div class="branding-container">
      <h1 class="brand-name font-ubuntu-bold">BA Assist</h1>
      <!-- <img
      class="tool-logo" 
      src="./../../../assets/BAAssist_logo.PNG"
    /> -->
    <div class="mindtreelogo">
            <img
            class="mindtree-logo"
            src="./../../../assets/mindtreelogo.png"
          /> 
    </div>
  </div>
  </div>
